<!DOCTYPE html>
<html>
<head>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/2.0.0-beta.17/Rx.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/2.0.0-beta.17/router.js" type="text/javascript"></script>
  <title>RailsStripe2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="railsStripe2">
  <h1>Rails Stripe Front End</h1>
  <div ng-view></div>

</body>
</html>
