<!DOCTYPE html>
<html>
<head>
  <title>RailsStripe2</title>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="railsStripe2">
  <h1>Rails Stripe Front End</h1>
  <ng-view></ng-view>

</body>
</html>
